//Layouts


.font-size-12{
  font-size: 12px;
}

  //Typography
.font-100{
  font-weight: 100 !important;
}

.font-300{
  font-weight: 300;
}

.font-400{
  font-weight: 400;
}
.font-500{
  font-weight: 500;
}

.font-700{
  font-weight: 700;
}

.white-space-pre {
  white-space: pre-wrap;
}

.theme-img-border{
  border: $primary-color 2px solid !important;
  margin: 2px !important;
}

.card-footer-action a{
  text-align: right;
  padding: 10px;
  width: 100%;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h3.small{
  font-size: 22px;
}

//cards ===========================================
.card-title-zf{
  display: block;
  line-height: 32px;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.border-light-grey{
  border-bottom: 1px color('grey','lighten-3');
}

.border-bottom-light-grey{
  border-bottom: 1px solid color('grey','lighten-3');
}

.border-top-light-grey{
  border-top: 1px solid color('grey','lighten-3');
}


.border-bottom-light-grey{
  border-bottom: 1px solid color('grey','lighten-3');
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.spacer{
  width: 100%;;
  height: 15px;
  display: block;
}

//text

.theme-primary-text-light{
  color: color('theme-primary','light');
}

.theme-primary-text-dark{
  color: color('theme-primary','dark');
}


.theme-secondary-text-light{
  color: color('theme-secondary','light');
}

.theme-secondary-text-dark{
  color: color('theme-secondary','dark');
}


// borders

.border-primary{
  border: 1px solid color("theme-primary", "base");
}

.border-primary-light{
  border: 1px solid color("theme-primary", "light");
}

.border-primary-dark{
  border: 1px solid color("theme-primary", "dark");
}

.border-secondary{
  border: 1px solid color("theme-secondary", "base");
}

.border-secondary-light{
  border: 1px solid color("theme-secondary", "light");
}

.border-secondary-dark{
  border: 1px solid color("theme-secondary", "dark");
}

.hidden{
  display: none;
}

.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 15px;
}

.z-depth-0-5{
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

.bottom-sheet-contained{
  max-width: 600px !important;
  width: 100% !important;
  margin: auto !important;
}




$border-positions: top, left, bottom, right;
@each $border-position in $border-positions {
  $pos: nth($border-position, 1);

  $pos-border-styles: primary $primary-color, primary-light $primary-color-light, primary-dark $primary-color-dark,secondary $secondary-color, secondary-light $secondary-color-light, secondary-dark $secondary-color-dark;

  @each $pos-border-style in $pos-border-styles {
    $key: nth($pos-border-style, 1);
    $value: nth($pos-border-style, 2);

    .border-#{$pos}-#{$key} {
      border-#{$pos}: 1px solid #{$value};
    }
  }

}


.saving-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  cursor: pointer;
  & span{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

}
.margin-0{
  margin: 0;
}

.label{
  margin-right: 5px;
  padding: 0.5em 0.8em;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.nl2br{
  white-space: pre-wrap;
}

.icon-facebook{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/facebook.png');
  background-size: cover;
}
.icon-twitter{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/twitter.png');
  background-size: cover;
}
.icon-instagram{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/instagram.png');
  background-size: cover;
}

.icon-instagram-alt{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/instagram-alt.png');
  background-size: cover;
}

.icon-instagram-white{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/instagram-white.png');
  background-size: cover;
}

.icon-wordpress{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/wordpress.png');
  background-size: cover;
}
.icon-youtube{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/youtube.png');
  background-size: cover;
}

.icon-youtube-white{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/youtube-white.png');
  background-size: cover;
}

.icon-linkedin{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/linkedin.png');
  background-size: cover;
}
.icon-snapchat{
  display: inline-block;
  background-color: transparent;
  background-image: url('../img/icons/offical/snapchat.png');
  background-size: cover;
}

////Personaloty

.personality_dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 0px;
}

.timeline {
  display: block;
  position: relative;
  border-bottom: 1px solid silver;
}


///images
.img{
  width: 50px !important;
  height: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}

.img-lg{
  width: 80px !important;
  height: 80px !important;
  max-width: 80px !important;
  max-height: 80px !important;
}

.img-circle{
  border-radius: 100%;
}
.read-more-button{
  color: color("theme-secondary", "base");
  cursor: pointer
}

.full-width{
  width: 100%;
}