@charset "UTF-8";

@import "./import/materialize";
@import "./custom/common";


////////////#header

$headerBannerHeight: 300px;
$headerNameTagHeight: 55px;
$headerImageWith: 200px;

#MediaKitHeaderCanvas{
  width: 100%;
  z-index: 100;
  //position: relative;
}

#MediaKitHeaderBanner{
  background: $theme-color-secondary;
  background-size: cover;
  background-position: center;
  position: relative;
  height: $headerBannerHeight;
  width: 100%;
  //border-bottom: 1px solid #f9f9f9;
}

#MediaKitHeaderInfo{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px solid;

}

#MediaKitHeaderProfileImage{
  border-radius: $headerImageWith;
  border: solid white;
  //width: $headerImageWith;
  //top: calc(#{$headerImageWith} / 2 * -1);
  position: relative;
  //float: left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 101;

}

#MediaKitHeaderProfileName{
  //float: left;
  padding: 0;
  margin: 0 0 0 20px;
}
#MediaKitHeaderBottomInfo{
  //border-bottom: 1px solid #fdfdfd;
  //height: 32px;
  .container{
    padding: 5px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  //padding-left: calc(#{$headerImageWith} + 20px);
}

